.header {
    display: flex;
    background-color: var(--gray2);
    color: white;
    justify-content: space-between;
    padding: 10px;
}

.logoImg {
    max-height: 40px;
}

.appTitle {
    margin: 0;
}

.hamburgerMenu {
    max-height: 42px;
}

.hamburgerMenu>img {
    max-height: 30px;
    margin-top: 2px;
}

.headerSeparator {
    border: 3px solid var(--gray1);
    width: 99%;
    margin: 0 auto;
    border-radius: 3px;
}