.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1000;
    padding: 50px;
}

.modalOverlay.open {
    display: block;
}

.modalPane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ced4da;
    border-radius: 10px;
    display: none;
}

.modalPane.open {
    display: block;
}